font-face{
  font-family: OpenSan;
  src: url('../fonts/OpenSans-Light.ttf');
}
$OpenSan: OpenSan;
$background_title_box: #f47a36;
$background_title: #FFF;
$background_top: #252525;
//$color_title: #444;
$color_title: #ba2a0f;
$background_menu: #F1F3EE;
$background_hover: #009B67;
$background_title_topic: #E1DEE1;